<!--<nav>
    &larr; <a href="#/">Events</a>
</nav>-->

<h2 class="eventtitle">{{event.name}}</h2>

<ul class="eventdetails">
    <p>{{event.description}}</p>


    <h3 data-ng-if="event.targetGroup">Target group</h3>
    <p data-ng-if="event.targetGroup">{{event.targetGroup}}</p>

    <h3 data-ng-if="event.contributionsDescription">Event contribution description</h3>
    <p data-ng-if="event.contributionsDescription">{{event.contributionsDescription}}</p>

    <h3>Location</h3>
        <p>
            {{event.location.name}}<br />
            {{event.location.street}}<br />
            {{event.location.plz}} {{event.location.city}}
        </p>

        <h3>Date &amp; time</h3>
        <p>{{event.begin | date:"dd.MM.yy HH:mm"}} - {{event.end | date:"dd.MM.yy HH:mm"}}</p>


    <button class="btn btn-default" data-ng-click="editEvent()" type="submit">Edit Event</button>
    <br />

    <h2 class="guest-title">Guests:</h2> <div class="counter">{{attendingGuests + ' / ' + event.maximalAmoutOfGuests}}</div>
    <div class="guestlist" data-ng-repeat="guest in event.guests | orderBy: 'canceled'">
        <p>Name: {{ guest.name }}</p>
        <p>Nimmt mit: {{ guest.contribution }}</p>
        <p>Kommentar: {{ guest.comment }}</p>
        <p data-ng-show="guest.canceled">Komme nicht: {{ guest.canceled }}</p>
        <form action="{{ '#/events/' + event.id + '/guest/' +  guest.id }}" method="get">
            <button class="btn btn-sm btn-default" type="submit">Update Guest</button>
        </form>
    </div>
</ul>

    <button ng-show="attendingGuests < event.maximalAmoutOfGuests" class="btn btn-default" data-ng-click="addGuest()" type="submit">Add Guest</button>

