<!--<nav>
    &larr; <a href="#/">Events</a>
</nav>-->
<h2>Event</h2>
<form class="pane">
    <div class="form-group">
        <label for="formname">Name</label>
        <input id="formname" class="form-control" type="text" data-ng-model="event.name" required />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" data-ng-model="event.description" required />
    </div>

    <div class="form-group">
        <label>Maximal amount of guests</label>
        <input type="number" class="form-control" min="0" max="1000" data-ng-model="event.maximalAmoutOfGuests" required />
    </div>

    <div class="form-group">
        <label>Target group</label>
        <input type="text" class="form-control" data-ng-model="event.targetGroup" />
    </div>

    <div class="form-group">
        <label>Event contribution description</label>
        <input type="text" class="form-control" data-ng-model="event.contributionsDescription" />
    </div>

    <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control" data-ng-model="event.location.name" placeholder="Name" required />
        <input type="text" class="form-control" data-ng-model="event.location.street" placeholder="Street" required />
        <input type="text" class="form-control" data-ng-model="event.location.plz" placeholder="ZIP Code" required/>
        <input type="text" class="form-control" data-ng-model="event.location.city" placeholder="City" required/>
    </div>

        <div class="form-group">
            <label>Date &amp; Times</label>
            <div class="form-group inlin row">
                <div class="col-xs-5"><input type="datetime-local" class="form-control"  data-ng-model="event.times.begin"  required />
                </div>

            </div>
            <div class="form-group inline row">
                <div class="col-xs-5"><input  type="datetime-local" class="form-control" data-ng-model="event.times.end"   required />
                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" data-ng-click="add(event)" value="Save" />
    </div>
</form>